# remix relies on packages that aren't explicitly declared as deps,
# so we need this flag to make _all_ packages available
shamefully-hoist = true

# this project is sort of a "workspace-lite",
# so I don't think this protection is necessary
ignore-workspace-root-check = true
